Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.

In [ ]:
"""
Missing value is define as the value or data that is not stored for some variable in given dataset is missing value.

It is important to handle the missing value in dataset because.

1. Prevents biased results: When missing values are present in a dataset it leas to biased result.
2. missing value lead to incorrect estimates of the mean, variance, and correlation between variables.
3. Missing value can cauese error in statistical analyses, such as correlations and regression analysis. 
4. Handling value value can improve the validity of research findings .

Random Forest algorithm is not affected by missing value.

Q2: List down techniques used to handle missing data. Give an example of each with python code.

In [ ]:
"""
Some techniques used to handle missing data are: 
1. Mean value imputation.
2. Medium value imputation
3. Mode imputation.


Example:

In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df=sns.load_dataset('titanic')

In [5]:
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [7]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
df['age'].isnull().sum()

177

In [12]:
df['age'].mean()

29.69911764705882

In [15]:
# mean imputation
df['age_mean']=df['age'].fillna(df['age'].mean())

In [19]:
df['deck'].value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: deck, dtype: int64

In [28]:
#mode imputation
df['deck_mode']=df['deck'].fillna(df['deck'].mode()[0])

In [31]:
# Median imputation.
df['age_median']=df['age'].fillna(df['age'].median())

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

In [ ]:
"""
A imbalance dataset refers to a dataset whose distribution of labels is highly unequal is imbalanced dataset.

If imbalanced dataset is not handled than it cause biased and inaccurate machine learning models.
if one class has majority data and another has minority data than machine learning algorithm to biased towards the majority class and ignore the minority, classes
so that to make machine learning models free from imblanced dataset our module work accurate and unbiased theit predictions.
"""

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
sampling are required.

In [ ]:
"""
Up-sampling: 
This technique attempts to increase the size of rare sample to create a balance when data is insuffiecnt.

when to use up-sampling:
lets have a classification probelm with two classes and 100k data point and 20 K data point are positive and 80 k are negative. The positive 
class is minority class and 80k is majority class. 20 k data point ness to be oversampled. replicated them four times to produce 80k. This yields 
an equal number of example for both negative classes . the size of dataset would increase to 160k as a result.

Down-sampling: 
This technique attempts to decrease the size or must sample to create balance dataset when data is suffient.

when to use Down-sampling: 
suppose we have two classes A and B having data point A= 50K and B= 10K. to balance data according to B datapoint. All we need to decrease the A
by 5 times . This yields an equal number of example and total size of dataset 20K .
"""

Q5: What is data Augmentation? Explain SMOTE.

In [ ]:
"""
Data augmentation is set of technique to artifically increase the new data from existing dataset.

SMOTE
It is techique used in machine learning to address imbalanced dataset. where the minority class has significantly fewer instances than majority
class. SMOTE invloves generating synthetic instances of the minority class bu inerpolating between existing instance.

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

In [ ]:
"""
Outlier is extremly high or extermly low data point relative to nearest dataset is knowns as Outlier.

Handling outliers in a dataset is essential because outlier can significantly affect
the statistical properties of the dataset and can caluse probelms with machine learning models.

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?

In [ ]:
"""
To handle the missing data in customer dataset. All i do is filling the missing data by avaliable data. the tchnique used to 
handle the missing value which are mean imputation , median imputation , mode imputation. For numerical data if data is normal 
distributed we use mean imputation. 
if the data is numerical and having outlier in dataset than we use median imputataion.
if data is categorical the we use mode imputation.
"""

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?

In [ ]:
"""
There are several strategies that can used to determine if the missing data is missing at random or if there is pattern to the missing data
are:
1. Visual inspection:  plotting the data using heatmap or scatterplot which helps to identify missing data.
2. Summary statistics: This invloves calculating summary statistics for variables with missing data and comparing them to variables with complete  data. This
                      can help identify any systematic differences in the missing data.

3. Little test: This invloves testing for presence of missing completely at random using statistical test such as little's test. This check if missing data
   is unrelated to the observed data.

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?

In [ ]:
"""
The strategies which is used to evaluate the performance of machine learning model in imbalanced dataset are resample technique such as 
upsampling which we have rare data and down sampling technique when we have sufficent data present and SMOTE technique are used to handle the imbalance dataset.
This help to improve the machine learning model by giving traning data.
"""


Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?

In [ ]:
"""
Synthetic minority oversampling technique (SMOTE): This involves generating synthetic examples for the minority class by interpolating between examples
from the minority class. This can help increase the size of the minority class and balance the dataset.

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?

In [ ]:
"""
Random over-sampling: This involves randomly duplicating examples from the minority class to balance the dataset. However,
                    this method can result in overfitting and may not be the best option if the dataset is small.

Synthetic minority oversampling technique (SMOTE): This involves generating synthetic examples for the minority class by interpolating between examples from the minority class.
                                                   This can help increase the size of the minority class and balance the dataset.