Imblanced_dataset_handling
Upsampling
Down sampling

In [1]:
import pandas as pd
import numpy as np

In [2]:
#set the random seed for reproducibility
np.random.seed(123)

#creating dataframe with two classes

n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [3]:
n_class_0

900

In [4]:
n_class_1

100

In [12]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1, size=n_class_0 ),
    'feature_2':np.random.normal(loc=0,scale=1, size=n_class_0 ),
    'target':[0]*n_class_0

})

In [13]:
class_0.head()

   feature_1  feature_2  target
0   0.551302  -0.300232       0
1   0.419589  -0.632261       0
2   1.815652  -0.204317       0
3  -0.252750   0.213696       0
4  -0.292004   1.033878       0

In [14]:
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1, size=n_class_1),
    'target':[1]*n_class_1

})

In [15]:
class_1.head()

   feature_1  feature_2  target
0   0.667532  -1.298881       1
1   0.100458  -0.764578       1
2  -0.012610  -0.822786       1
3   0.219907  -1.120508       1
4   0.813623   2.119519       1

In [20]:
class_1.count()

feature_1    100
feature_2    100
target       100
dtype: int64

In [21]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)

In [19]:
pd.concat([class_0, class_1])

    feature_1  feature_2  target
0    0.551302  -0.300232       0
1    0.419589  -0.632261       0
2    1.815652  -0.204317       0
3   -0.252750   0.213696       0
4   -0.292004   1.033878       0
..        ...        ...     ...
95   0.792809  -0.896718       1
96  -2.030271   0.812571       1
97  -1.880218   0.637361       1
98  -1.469470   0.332712       1
99  -0.592608   0.258237       1

[1000 rows x 3 columns]

In [22]:
df.head()

   feature_1  feature_2  target
0   0.551302  -0.300232       0
1   0.419589  -0.632261       0
2   1.815652  -0.204317       0
3  -0.252750   0.213696       0
4  -0.292004   1.033878       0

In [23]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

#upsampling

In [27]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [28]:
df_majority.head()

   feature_1  feature_2  target
0   0.551302  -0.300232       0
1   0.419589  -0.632261       0
2   1.815652  -0.204317       0
3  -0.252750   0.213696       0
4  -0.292004   1.033878       0

In [29]:
df_minority.head()

     feature_1  feature_2  target
900   0.667532  -1.298881       1
901   0.100458  -0.764578       1
902  -0.012610  -0.822786       1
903   0.219907  -1.120508       1
904   0.813623   2.119519       1

In [30]:
##upsampling perfome.
from sklearn.utils import resample

In [32]:
df_minority_upsample=resample(df_minority,
                              replace=True, #sample with replacement
                              n_samples=len(df_majority), # To match the majority class.
                              random_state=42
                             )

In [34]:
df_minority_upsample.shape

(900, 3)

In [36]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [37]:
df_upsample=pd.concat([df_minority_upsample, df_majority])

In [41]:
df_upsample['target'].value_counts()

1    900
0    900
Name: target, dtype: int64

In [42]:
df_upsample.shape

(1800, 3)

In [43]:
#DownSampling

In [44]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1, size=n_class_0 ),
    'feature_2':np.random.normal(loc=0,scale=1, size=n_class_0 ),
    'target':[0]*n_class_0

})
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1, size=n_class_1),
    'target':[1]*n_class_1

})

In [46]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [47]:
df_majority_downsample=resample(df_majority,
                              replace=False, #sample without replacement
                              n_samples=len(df_minority), # To match the minority class.
                              random_state=42
                             )

In [49]:
df_majority_downsample.shape

(100, 3)

In [50]:
df_majority_downsample['target'].value_counts()

0    100
Name: target, dtype: int64

In [52]:
df_downsample=pd.concat([df_minority, df_majority_downsample])

In [54]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64